name: Project 1 Backend CI

on:
  pull_request:
    branches: [ "main" ]
    paths: [ "project_1/backend/**" ]

defaults:
  run:
    shell: bash
    working-directory: project_1/backend

jobs:
  postman_unit_test:
    name: Postman Tests
    runs-on: ubuntu-latest
    env:
      DB_NAME: "github-action"
      DB_HOST: "localhost"
      DB_PORT: "5432"
      DB_USER: "github"
      DB_PASSWORD: "xMorPOhdQLRJ"
      DB_PROVIDER: "local"

    steps:
      - name: Checkout repository.
        uses: actions/checkout@v3

      - name: Setup golang
        uses: actions/setup-go@v3
        with:
          go-version: '1.20'

      - name: Build backend binary
        run: go build -o backend main.go

      - name: Run backend and database
        run: |
          docker compose -f docker-compose.local.yml up -d
          ./utils/script/wait-for-it.sh -h $DB_HOST -p $DB_PORT
          ./backend server &
      
      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh

      - name: Login to Postman CLI
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}

      - name: Run API tests
        run: |
          postman collection run "10575948-64a485ca-2331-4b65-b3e7-76f67ed3c7f0" -e "10575948-0635068e-564d-4e80-bec1-2771e20fd951" --integration-id "133506-${{ github.run_id }}"
          # Lint your API using Postman CLI
          postman api lint --integration-id 133506        
            